.product{
    margin-top: 70px;
}
.logo{
    height: 60px;
}
.tag{
    margin-right: 72%;

}
.Header{
    text-align: center;
    margin-top: -30px;
}
.Home_tittle{
    text-align: center;
    font-size: xxx-large;
    padding:45px;
}
.button{
    margin-right: 70%;
    height:51px;
    width:7%
}
.input{
     margin-bottom: 20%;
    margin-top: 3%;
    width: 23%;
    height: 50px;
}
.side_text{
    margin-right:40px;
}
     